{{#if isSecondary}}
    {{#foreach navigation }}
    <a href="{{url absolute="true"}}" class="mr-6 text-gray-600 hover:text-gray-900{{#if current}} active{{/if}}">{{label}}</a>
    {{/foreach}}
{{else}}
<div class="hidden lg:block">
    {{#foreach navigation}}
    <a href="{{url absolute="true"}}" class="mr-6 text-gray-600 hover:text-gray-900{{#if current}} active{{/if}}">{{label}}</a>
    {{/foreach}}
</div>
{{/if}}
